.card {
    text-align: center;
    cursor: pointer;

    .card-body {

        .card-title {
            font-size: 1.5rem;
            margin: 0;
            margin-bottom: 10px;
            background-color:  var(--card-header-bg-color);
        }

        .card-text {
            padding: 10px;
            font-size: 1.3rem;
            margin: 0;
        }
    }
}
