.project-dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 200px;
  padding: 5px 5px;
  border-radius: 10px;
  transition: background-color 200ms ease-in-out;
  position: relative;

  &:hover {
    background-color: #213f69;
    cursor: pointer;
  }

  > div:first-child {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 15px;

    span:first-child {
      font-weight: 500;
      font-size: 14px;
    }

    span {
      font-weight: 200;
      font-size: 12px;
    }

    span:nth-child(2) {
      text-transform: capitalize;
    }
  }

  .project-dropdown-inner {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 45px;
    left: 0px;
    width: 290px;
    height: auto;
    align-items: flex-start;
    overflow: hidden;

    background-color: var(--project-dropdown-bg-color);
    border-radius: 5px;
    border: 1px solid #e3e4e6;
    box-shadow: 0px 33px 80px rgb(0 0 0 / 7%),
      0px 13.7866px 33.4221px rgb(0 0 0 / 5%),
      0px 7.37098px 17.869px rgb(0 0 0 / 4%),
      0px 4.13211px 10.0172px rgb(0 0 0 / 4%),
      0px 2.19453px 5.32008px rgb(0 0 0 / 3%),
      0px 0.913195px 2.21381px rgb(0 0 0 / 2%);
    color: #000;
    cursor: initial;

    .first-pane {
      box-sizing: border-box;
      flex: 0 0 290px;
      transform: translateX(0%);
      transition: transform 200ms ease-in-out;
      padding: 12px;

      &.hidden {
        transform: translateX(-120%);
      }

      > div:first-child {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 6px 12px;
        width: 100%;

        .icon {
          flex: 0 0 30px;
        }

        .name {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          padding: 0 0 0 10px;

          span:first-child {
            font-weight: 500;
            font-size: 14px;
          }

          span {
            font-weight: 200;
            font-size: 12px;
          }
        }
      }

      .separator {
        height: 3px;
        width: 95%;
        border-bottom: 1px solid #e3e4e6;
        margin: 5px 0;
      }

      .dropdown-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 6px 12px;
        font-weight: 200;
        color:  var(--cta-description);
        transition: color 300ms ease-in-out;
        box-sizing: border-box;

        &:hover {
          color: #000;
          cursor: pointer;
          font-weight: 300;
        }

        > span:first-child {
          flex: 0 0 30px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        > span:nth-child(2) {
          flex: 1 1;
          padding: 0 0 0 10px;
        }

        > span:nth-child(3) {
          flex: 0 0 20px;
          display: inline-flex;
          align-items: center;
          justify-content: flex-end;
        }
      }
    }

    .second-pane {
      box-sizing: border-box;
      padding: 12px;
      flex: 0 0 290px;
      transform: translateX(-100%);
      transition: transform 200ms ease-in-out;
      height: 250px;
      display: flex;
      flex-direction: column;

      &.hidden {
        transform: translateX(120%);
      }

      .project-header {
        display: flex;
        flex-direction: row;
        margin-bottom: 5px;

        > div:first-child {
          flex: 0 0 20px;
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;

          &:hover {
            background-color: var(--project-list-select-bg-color);
            cursor: pointer;
          }
        }

        span {
          flex: 1 1;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-right: 30px;
          text-align: center;
        }
      }

      .project-list {
        display: flex;
        flex: 1 1;
        flex-direction: column;
        overflow: auto;

        > div {
          display: flex;
          flex-direction: row;
          width: 100%;
          padding: 6px 12px;
          box-sizing: border-box;
          border-radius: 5px;

          &:hover {
            background-color: var(--project-list-select-bg-color);
            cursor: pointer;
          }

          &.selected {
            div:first-child span:first-child,
            div:nth-child(2) {
              color: #564ed1;
            }
          }

          div:first-child {
            flex: 1 1;
            display: flex;
            flex-direction: column;

            span:first-child {
              font-weight: 500;
              font-size: 14px;
            }

            span {
              font-weight: 200;
              font-size: 12px;
            }
          }

          div:nth-child(2) {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}
